$white: #E8E9F3;
$black: #000;
$glass: #e7e7e771;
$raisin_black: #272635;
$quick_silver: #A6A6A8;
$light_gray: #CECECE;
$red: #e72d3f;
$green: #2e932e;


// $light_text: $black;
// $light_background: $white;
// $light_primary: $raisin_black;
// $light_secondary: $quick_silver;
// $light_tertiary: $light_gray;
// $light_error: $red;
// $light_success: $green;

// $dark_text: $white;
// $dark_background: $raisin_black;
// $dark_primary: $white;
// $dark_secondary: $light_gray;
// $dark_tertiary: $quick_silver;
// $dark_error: $red;
// $dark_success: $green;

