@import 'color-themes';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  position: relative;

  @include themed() {
    color: t($text);
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;

  @include themed() {
    color: t($text);
    background: t($secondary);
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

input {
  border: none;
  padding: 0.5rem 1rem;
  transition: border-bottom 250ms ease-in-out;
}

// // ------------------------------
// // Light theme
// // ------------------------------

// @media (prefer-color-scheme: light) {
//   html {
//     color-scheme: light;
//   }
//   body {
//     color: $light_text;
//     background-color: $light_background;
//   }

//   a {
//     color: $light_primary;

//     &::after {
//       background: $light_primary;
//     }
//   }

//   button {
//     color: $light_text;
//     background: $light_primary;
//   }

//   input {
//     color: $light_text;
//     background: $light_background;
//     border-bottom: 2px solid $light_primary;

//     &:focus {
//       border-bottom: 2px solid $light_secondary;
//     }
//   }
// }

// // ------------------------------
// // Dark theme
// // ------------------------------

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: $dark_text;
//     background-color: $dark_background;
//   }

//   a {
//     color: $dark_primary;

//     &::after {
//       background: $dark_primary;
//     }
//   }

//   button {
//     color: $dark_text;
//     background: $dark_primary;
//   }

//   input {
//     color: $dark_text;
//     background: $dark_background;
//     border-bottom: 2px solid $dark_primary;

//     &:focus {
//       border-bottom: 2px solid $dark_secondary;
//     }
//   }
// }
